<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header text-white bg-info">
                    <strong>{{'lable_translate.customer_list' | translate}}</strong>
                    <!-- <button type="button" class="btn btn-success btn-sm" style="float: right;" (click)="add_customer()"><i
                            class="icon-emotsmile icons"></i>&nbsp;<strong>{{'lable_translate.add_customer' | translate}}</strong></button> -->
                </div>
                <!-- <div class="card-body"> -->
                <div class="mat-elevation-z8">
                    <div class="row mr-0 ml-0">
                        <div class="col-md-6" style="margin-top: 10px;">
                            <mat-form-field fxFlex="40%">
                                <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Search">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6" style="text-align: right;margin-top: 15px;">
                            <button mat-flat-button color="primary" (click)="add_customer()">Add Customer</button>
                        </div>
                    </div>
                    <table class="mat-elevation-z8" mat-table [dataSource]="dataSource">
                        <!-- Position Column -->
                        <ng-container matColumnDef="ID">
                            <th mat-header-cell *matHeaderCellDef> No. </th>
                            <td mat-cell *matCellDef="let element"> {{element.customer_id}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="Name">
                            <th mat-header-cell *matHeaderCellDef> Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.customer_name}} </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="Mobile No.">
                            <th mat-header-cell *matHeaderCellDef> Mobile No. </th>
                            <td mat-cell *matCellDef="let element"> {{element.customer_mobile_no}} </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="Address">
                            <th mat-header-cell *matHeaderCellDef> Address </th>
                            <td mat-cell *matCellDef="let element"> {{element.customer_address}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Action">
                            <th mat-header-cell *matHeaderCellDef> Action </th>
                            <td mat-cell *matCellDef="let element">
                                <button class="btn btn-primary" style="border-radius: 50%;" (click)="editCustomer(element.customer_id)">
                                    <i class="fa fa-edit" style="width:10px;"></i>
                                    <!-- <mat-icon>delete</mat-icon> -->
                                </button>
                                <button class="btn btn-danger" style="border-radius: 50%;" (click)="deleteCustomer(element.customer_id)">
                                    <i class="fa fa-trash"></i>
                                    <!-- <mat-icon>edit</mat-icon> -->
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <!-- <mat-paginator [pageSize]="2" [pageSizeOptions]="[2, 4, 6, 10, 20]">
                    </mat-paginator> -->
                    <mat-paginator [length]="length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                    <!-- </div> -->
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>