<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header text-white bg-info">
                    <strong>{{'lable_translate.owner_details' | translate}}</strong>
                    <!-- <small>Details</small> -->
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>{{'lable_translate.owner_name' | translate}}</label>
                                <input type="text" class="form-control" placeholder="Enter your name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>{{'lable_translate.street' | translate}}</label>
                                <input type="text" class="form-control" placeholder="Enter street address">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-8">
                            <label>{{'lable_translate.city' | translate}}</label>
                            <input type="text" class="form-control" placeholder="Enter your city">
                        </div>
                        <div class="form-group col-sm-4">
                            <label>{{'lable_translate.postal_code' | translate}}</label>
                            <input type="text" class="form-control" placeholder="Postal Code">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{'lable_translate.taluka' | translate}}</label>
                                <input type="text" class="form-control" placeholder="Enter your taluka">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{'lable_translate.district' | translate}}</label>
                                <input type="text" class="form-control" placeholder="Enter your district">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{'lable_translate.state' | translate}}</label>
                                <input type="text" class="form-control" placeholder="Enter your state">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{'lable_translate.country' | translate}}</label>
                                <input type="text" class="form-control" placeholder="Enter your country">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>{{'lable_translate.phone_number' | translate}}</label>
                                <input type="text" class="form-control" placeholder="Enter your phone number">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{'lable_translate.mobile_number' | translate}}</label>
                                <input type="text" class="form-control" placeholder="Enter your mobile number">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{'lable_translate.alt_mobile_number' | translate}}</label>
                                <input type="text" class="form-control" placeholder="Enter alternate mobile number">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{'lable_translate.adhaar_card_number' | translate}}</label>
                                <input type="text" class="form-control" placeholder="0000 0000 0000 0000">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{'lable_translate.pan_card_number' | translate}}</label>
                                <input type="text" class="form-control" placeholder="0000 0000 0000 0000">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="text-align: center">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary">{{'lable_translate.save_owner_details' | translate}}</button>
                                <!-- <button type="button" class="btn btn-secondary">Reset</button> -->
                            </div>
                        </div>
                    </div>
                    <!--/.row-->

                    <!--/.row-->
                    <!-- <div class="row">
                        <div class="form-group col-sm-4">
                            <label for="ccmonth">Month</label>
                            <select class="form-control" id="ccmonth">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>
                </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="ccyear">Year</label>
                            <select class="form-control" id="ccyear">
                  <option>2014</option>
                  <option>2015</option>
                  <option>2016</option>
                  <option>2017</option>
                  <option>2018</option>
                  <option>2019</option>
                  <option>2020</option>
                  <option>2021</option>
                  <option>2022</option>
                  <option>2023</option>
                  <option>2024</option>
                  <option>2025</option>
                </select>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="cvv">CVV/CVC</label>
                                <input type="text" class="form-control" id="cvv" placeholder="123">
                            </div>
                        </div>
                    </div> -->
                    <!--/.row-->
                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header text-white bg-info">
                    <strong>{{'lable_translate.company_details' | translate}}</strong>
                    <!-- <small>Details</small> -->
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>{{'lable_translate.company_name' | translate}}</label>
                                <input type="text" class="form-control" placeholder="Enter company name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{'lable_translate.gst_number' | translate}}</label>
                                <input type="text" class="form-control" placeholder="0000 0000 0000 0000">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{'lable_translate.pan_card_number' | translate}}</label>
                                <input type="text" class="form-control" placeholder="0000 0000 0000 0000">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>{{'lable_translate.street' | translate}}</label>
                                <input type="text" class="form-control" placeholder="Enter company address">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-8">
                            <label>{{'lable_translate.city' | translate}}</label>
                            <input type="text" class="form-control" placeholder="Enter city">
                        </div>
                        <div class="form-group col-sm-4">
                            <label>{{'lable_translate.postal_code' | translate}}</label>
                            <input type="text" class="form-control" placeholder="Postal Code">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{'lable_translate.taluka' | translate}}</label>
                                <input type="text" class="form-control" placeholder="Enter taluka">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{'lable_translate.district' | translate}}</label>
                                <input type="text" class="form-control" placeholder="Enter district">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{'lable_translate.state' | translate}}</label>
                                <input type="text" class="form-control" placeholder="Enter state">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{'lable_translate.country' | translate}}</label>
                                <input type="text" class="form-control" placeholder="Enter country">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{'lable_translate.state_code' | translate}}</label>
                                <input type="text" class="form-control" placeholder="Enter state code">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{'lable_translate.phone_number' | translate}}</label>
                                <input type="text" class="form-control" placeholder="Enter phone number">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{'lable_translate.mobile_number' | translate}}</label>
                                <input type="text" class="form-control" placeholder="Enter mobile number">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{'lable_translate.alt_mobile_number' | translate}}</label>
                                <input type="text" class="form-control" placeholder="Enter alternate mobile number">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="text-align: center">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary">{{'lable_translate.save_company_details' | translate}}</button>
                                <!-- <button type="button" class="btn btn-secondary">Reset</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>