<div class="app-body error-background" [ngStyle]="{background: 'url(../../assets/sky.jpg)'}">
    <main class="main d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="card-group">
                        <div class="card p-4">
                            <div class="card-body">
                                <form [formGroup]="loginForm" (ngSubmit)="login()">
                                    <h2 style="margin-bottom:20px;">KAUSTUBH AGRO INDUSTRIES</h2>
                                    <p class="text-muted">Sign In to your account</p>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-user"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Username" [(ngModel)]="username" name="username" formControlName="username">
                                    </div>
                                    <div *ngIf="loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)">
                                        <div *ngIf="loginForm.controls['username'].errors.required" class="text-danger">
                                            Name is required.
                                        </div>
                                    </div>
                                    <div class="input-group mt-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-lock"></i></span>
                                        </div>
                                        <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password" name="password" formControlName="password">
                                    </div>
                                    <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
                                        <div *ngIf="loginForm.controls['password'].errors.required" class="text-danger">
                                            Password is required.
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-6">
                                            <button type="submit" class="btn btn-primary px-4"><i class="fa fa-spinner fa-spin" *ngIf="loading"></i> Login</button>
                                        </div>
                                        <div class="col-6 text-right">
                                            <button type="button" class="btn btn-link px-0">Forgot password?</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="card text-white py-5 d-md-down-none" style="width:44%;background-size:cover; width:auto;" [ngStyle]="{background: 'url(../../assets/cashew.JPG)'}">
                            <div class="card-body text-top;" style="color:black;margin-bottom:20px;">
                                <div style="padding-left25px;padding-top:0px;">
                                    <!-- <h1>Kaustubh Agro</h1>
                                    <h2>Chandgad</h2> -->
                                    <!-- <button type="button" class="btn btn-primary active mt-3">Register Now!</button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
      <!-- Start background section -->
    <!-- <section class="error-background"> -->
        <img class="cloud-small cloud animated" src="../../assets/cloud-1.png" data-animation="fromLeft25" data-animation-delay="3000" data-xrange="20" data-yrange="20" alt="">

        <img class="cloud-big cloud animated" src="../../assets/cloud-1.png" data-animation="fromLeft8" data-animation-delay="3500" data-xrange="30" data-yrange="30" alt="">

        <img class="cloud-rain cloud animated" src="../../assets/cloud-2.png" data-animation="fromRight8" data-animation-delay="4000" data-xrange="40" data-yrange="40" alt="">

        <img class="rock animated" src="../../assets/rock.png" data-animation="fromRight0" data-animation-delay="600" alt="">

        <img class="sea-island animated" src="../../assets/sea-island.png" data-animation="fromLeft0" data-animation-delay="600" alt="">

        <img class="shark animated" src="../../assets/shark.png" data-animation="fromLeft70" data-animation-delay="3200" alt="">
    <!-- </section> -->
    <!-- End background section -->
</div>